<!-- <tui-scrollbar class="w-full h-full bg-slate-500">
    
</tui-scrollbar> -->
<div class="w-full h-full">
  <section class="flex flex-row h-full">
    <div class="flex flex-col min-w-[300px] h-full pt-2 pb-1 border-r border-[var(--tui-border-normal)]">
      <div class="flex justify-between items-center min-h-10 p-2">
        <h2 tuiTitle="m">Chats</h2>
        <div class="flex items-center gap-2">
          <!-- <tui-icon class="cursor-pointer" icon="@tui.search" /> -->
          <tui-icon class="cursor-pointer" icon="@tui.message-square-plus" />
        </div>
      </div>
      <div class="p-2">
        <tui-textfield class="search"
          iconStart="@tui.search"
        >
            <input 
              type="text"
              tuiTextfield
              placeholder="Type a username"
              [(ngModel)]="search"
            />
        </tui-textfield>
      </div>
      <hr class="mb-2 mx-2" />
      <tui-scrollbar >
        <div class="flex flex-col space-y-2 pr-[14px] pl-1">
          @for (user of users | tuiFilter: matcher : search; track user; let index = $index) {
            <div class="space-y-4">
              <label
                appearance="flat"
                class="w-full items-center !px-3 !py-2"
                [class.active-chat]="index == value"
                tuiBlock
              >
                <!-- [appearance]="index == value ? 'primary' : 'flat'" -->
                <tui-avatar
                  [round]="false"
                  size="m"
                  class="!m-0"
                  [src]="'https://avatars.githubusercontent.com/u/46284632'"
                />
                <span
                  tuiTitle="m"
                  [attr.tuiTheme]="
                    darkMode() ? 'dark' : index == value ? 'dark' : 'light'
                  "
                  class="!text-base !font-semibold"
                >
                  {{user}}
                  <span class="!text-sm nowrap" tuiSubtitle
                    >Taiga UI djwagjdgjawdghjwdgw</span
                  >
                </span>
                <!-- <span class="flex flex-col">
                  <span>4 m</span>
                  <tui-badge-notification
                    class="!bg-[var(--tui-background-accent-2)]"
                    size="l"
                    >{{ index }}</tui-badge-notification
                  >
                </span> -->
                <div>
                  <span
                    class="!text-xs !font-semibold !text-end"
                    tuiTitle
                    [attr.tuiTheme]="
                      darkMode() ? 'dark' : index == value ? 'dark' : 'light'
                    "
                    >4 m</span
                  >
                  <tui-badge-notification
                    class="!bg-[var(--tui-background-accent-2)]"
                    size="m"
                    >{{ index }}</tui-badge-notification
                  >
                </div>
                <input
                  class="!shadow-none"
                  [value]="index"
                  [(ngModel)]="value"
                  tuiBlock
                  type="radio"
                />
              </label>
            </div>
          }@empty {
            <span class="text-xl font-medium text-center" aria-hidden="true"> No user found. </span>
          }
        </div>
      </tui-scrollbar>
    </div>
    <div class="flex flex-col w-full h-full">
      <header class="">
        <div tuiCell="l">
          <tui-avatar

              src="assets/images/avatar.jpg"
              tuiAccessories
          />
          <div
              tuiAccessories
              tuiTitle
          >
              Alexander
              <div tuiSubtitle>45 members, 24 Online</div>
          </div>
          <div class="flex items-center gap-4">
            <!-- <tui-input *ngIf="showChatSearch" class="search w-[232px]"
              [(ngModel)]="chatsearch"
              tuiTextfieldSize="l"
              [tuiTextfieldLabelOutside]="true"
              [tuiTextfieldCleaner]="true"
            >
              Search in chat
                <input tuiTextfieldLegacy />
            </tui-input> -->
            <!-- <div *ngIf="!showChatSearch" (click)="showChatSearch = true" class="flex items-center justify-center w-8 h-8 cursor-pointer">
              <tui-icon  icon="@tui.search"  />
            </div> -->
            <div class="flex items-center justify-center w-8 h-8 cursor-pointer">
              <tui-icon  icon="@tui.phone"  />
            </div>
            <button
                appearance="icon"
                iconStart="@tui.ellipsis-vertical"
                tuiDropdownAlign="left"
                tuiDropdownOpen
                tuiIconButton
                tuiAppearanceState="active"
                type="button"
                [tuiDropdown]="dropdown"
            >
                Action
            </button>
            <ng-template
                #dropdown
                let-close
            >
                <tui-data-list-wrapper
                    [items]="items"
                    [itemContent]="stringify | tuiStringifyContent"
                    (itemClick)="menu($event);close()"
                />
            </ng-template>
          </div>
        </div>
      </header>
      <div class="flex-1">
        {{control.value}}
        <tui-files class="tui-space_top-1">
          @if (control.value) {
            <tui-file
                state="normal"
                [file]="control.value"
                (remove)="removeFile()"
            />
          }
      </tui-files>
      </div>
      <div class="flex justify-center">
        <div class="" style="width: calc(100% - 20vw);">
          <app-input-message></app-input-message>
        </div>
      </div>
    </div>
  </section>
</div>
