.workspace-container {
    @apply absolute top-0 bottom-0 left-0 right-0;
}

.workspace-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    border-radius: 0px;
    background: rgba(255, 0, 0, 0.5);
}

.colors {
    background: var(--tui-background-base);
 
    &::before {
        color: #050814;
        // color: var(--tui-text-action);
        box-shadow: none;
    }
 
    .active {
        color: #fff;
    }
}

.link-active {
    background: var(--tui-background-neutral-1-hover);
}