/* You can add global styles to this file, and also import other style files */
@use '@taiga-ui/core/styles/taiga-ui-local.scss';
@use '@ctrl/ngx-emoji-mart/picker';
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.after-none::after{
    content: none !important;
}

hr{
    background: var(--tui-border-normal);
    block-size: 1px;
    margin: 0 0 .25rem;
    border: none;
}

.search{
    .t-hosted{
        .t-textfield{
            --tui-height: var(--tui-height-m);
        }
    }

    .t-cleaner{
        border-color: transparent !important;
    }
}

.editor {

  tui-scrollbar {
    max-height: 100px;
    padding-bottom: 6px;
  }
}

.emoji-mart {
    height: 356px;
    border: none;

    .emoji-mart-anchor {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .emoji-mart-search {
        
        .emoji-mart-search-icon {
            top: 6px;
        }
    }
    .emoji-mart-emoji {
        padding: 6px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 0;

        span {
            display: flex !important;
            line-height: 100% !important;
            justify-content: center !important;
            align-items: center !important;
        }
    }
}